@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Shadows+Into+Light&family=Splash&display=swap&family=Open+Sans&display=sans-serif');

/* 
    Created on : 25/01/2021, 12:41:13 PM
    Author     : Alejandro Téllez
    Objective  : Creación de estilos CSS para usarse en el proyecto
*/

/* Variables Globales de Color de Fondo */

:root {
--back-color-header: #04293A; /* Warm de Google */
/**** Fonts ****/
--font-style-footer: 'Splash', cursive;
--font-style-menu: 'Shadows Into Light', cursive;
--font-style-modalPersonal: 'Oswald', sans-serif;
--font-style-etiqueta: 'Alkalami', serif;
--font-style-contenido: 'Acme', sans-serif;
--font-style-textarea: 'Fuzzy Bubbles', cursive;
--font-style-p: 'Open Sans', sans-serif;
--font-size-footer: 20px;
--font-color-menu: white;
--back-color-grid-data: #1746A2;
--color-over-button: #CC9544;
--font-color-h1:  gold;


}

.fontfooter{
    font-family: var(--font-style-footer);
    font-size: var(--font-size-footer);  
    color: var(--font-color-menu); 
    /* color: */
}
.titles {
    font-size: 30px;
    color: blue;
}

/************ Formato de menu ******************/

.menu ul {
    
    list-style: none;
    /* width: 50%; */
    margin: 5px;
    /* margin: auto; */
    
}

.menu li a{
    font-family: var(--font-style-menu); 
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
    color: var(--font-color-menu);
    display: block;
    
}
.menu li a:hover{
    background:  var(--color-over-button);
    border-radius:10px 5px 50px;
    padding: 5px;
    
}

/* Para datos debajo de opciones */

.parrafoCabecera {
    background-color: var(--back-color-header);
    color:  var(--color-over-button);
    text-align: left;
    font-family: var(--font-style-modalPersonal);
    font-weight: bold;
}



.menu li{
    display: inline-block;
    text-align: center;
    align-items: flex-start
}




/********* Header ******/

.imgEnc {
    width: 100%;
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /*Posicionamos la cabecera pegada arriba */
    position: fixed;
}
.header {
    
    width: 100%;
    height: 169px;
    background-color: var(--back-color-header);
    text-align: center;
    
    
    left: 0px; /* Posicionamos la cabecera al lado izquierdo */
    top: 0px; /*Posicionamos la cabecera pegada arriba */
    /* position: fixed; */
    
}

.containerCabecera{
    
    background-color: var(--back-color-header);
    display: flex;
    text-align: left;
}

.iconosSociales{
    
    background-color: var(--back-color-header);
    display: inline-flex;
    
    text-align: right;
    
    margin-left: 300px;
    margin-top: 10px;
}

.body{
    /* max-width: 100%;
    margin-left: 0px;
    padding: 0px;
    /* margin-top: 170px; 
    color: var(--font-color-menu);  */
    background-color: var(--back-color-header);
    /* background-color:  transparent;  
    background-image: url('./images/fondopersonal.jpg'); */
    /* box-shadow: 0 0 4px 3px burlywood; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
   
}

/* Para la que viene de html*/
#root {
    background-color: var(--back-color-header);
    /* background-image: url('./images/fondopersonal.jpg');  */
    margin: 0px;
    padding: 0px;
}

/****************** Para Skills ****************************/

.h1skill {
    font-family: var(--font-style-etiqueta);
    font-size: 30px;
    margin-left: 10px;
    color: var(--font-color-h1);
    padding-top: 15px;
   
  
 }
.cskills{
    width: 100%;
    background-color:var(--back-color-header);
    margin-left: 10px;
    
}

.skills{
    text-align: right;
    padding-right: 2px;
    color:black;
    font-weight: bold;
    font-family: var(--font-style-p);
    font-size: 10px;
    font-weight: bold;
}

.vb {
    background-color: gray;
    animation: fillvb 2s forwards;
    margin-left: 0px;
}

@keyframes fillvb {
    0%{width: 0;}
    100%{width: 40%;}
}

.cobol {
    background-color: gray;
    animation: fillcobol 2s forwards;
    margin-left: 0px;
}

@keyframes fillcobol {
    0%{width: 0;}
    100%{width: 40%;}
}

.java {
    background-color: gray;
    animation: filljava 2s forwards;
    margin-left: 0px;
}

@keyframes filljava {
    0%{width: 0;}
    100%{width: 35%;}
}

.njs {
    background-color: gray;
    animation: fillnjs 2s forwards;
    margin-left: 0px;
}

@keyframes fillnjs {
    0%{width: 0;}
    100%{width: 30%;}
}

.css {
    background-color: gray;
    animation: fillcss 2s forwards;
    margin-left: 0px;
}

@keyframes fillcss {
    0%{width: 0;}
    100%{width: 60%;}
}
.html {
    background-color: gray;
    animation: fillhtml 2s forwards;
    margin-left: 0px;
}

@keyframes fillhtml {
    0%{width: 0;}
    100%{width: 60%;}
}

.sql {
    background-color: gray;
    animation: fillsql 2s forwards;
    margin-left: 0px;
}

@keyframes fillsql {
    0%{width: 0;}
    100%{width: 70%;}
}

.ms {
    background-color: gray;
    animation: fillms 2s forwards;
    margin-left: 0px;
}

@keyframes fillms {
    0%{width: 0;}
    100%{width: 70%;}
}
/************* Para Secciones ********************************/

.saltoSeccion{
    padding: 15px;
}

.sec {
    background-color: black;
    /* var(--back-color-header); */
    box-shadow: 0 0 4px 3px burlywood; 
    transition: all 800ms;
    /* transform: translate(-50%, -50%);  */
    
    opacity: 0.9;
    
}


#seccion-estudios{
    display: flex;
}

/* Lado Izquierdo */
.izquierda {
    height: 50vh;
    width: 40%;
}

.sec h1 {
   font-family: var(--font-style-etiqueta);
   font-size: 30px;
   margin-left: 10px;
   color: var(--font-color-h1);
  
 
}
.sec p {
    font-family: var(--font-style-p);
    font-size: 12px;
    margin-left: 10px;
    color: var(--font-color-menu);
    margin: 2px;
    padding-left: 10px;
  
 }

 .secdiv {
    padding: 15px;
    
 }

 .sec a{
    color: var(--font-color-h1);
}

 .button {
    
    border: 1px solid var(--color-over-button); 
    color: var(--font-color-menu);
    padding: 5px 11px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-style-modalPersonal);
    position: relative;
    z-index: 1;
    
 }

 .button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 100%;
    background-color: var(--color-over-button);
    z-index: -1;
    transition: width 0.2s ease-in-out;
    
 }

 .button:hover::after{
    width: 100%;
   
 }


 .espacio {
    border: none;
 }

/* Lado Derecho */

.secimg {
  
  
  /* background-position: center; */
  width: 60%;
  height: 50vh;
  
}

.imgestudios {
    display: inline;
    background-image: url(./images/escuela.jpg);
   
}

#seccion-empleos{
    display: flex;
}
.imgexperiencia {
    display: inline;
    background-image: url(./images/experiencia.jpg);
   
}

#seccion-trans{
    display: flex;
}
.imgtrans {
    display: inline;
    background-image: url(./images/Transversales.jpg);
   
}





/* ***************** Para footer  ********************** */

.footer{
    background-color: var(--back-color-header);
}

/******** Contenedor de Registros con table *********/

.fijar-div {
    background-color:#c7c7c7;
     opacity: 0.8;
      max-width: 95%;
     margin: auto;
     position: fixed;
 }

 .fijar-navega {
    background-color:#c7c7c7;
     opacity: 0.8;
 }
 
.tabla{
    
    
    width: 1200px;
    
    margin: auto;
   
    /*padding: 10px;*/
    align-items: center;
    
    
    border-collapse: separate;
    border: 2px solid;
}

/* .tabla-thead{
    
    
} */

.tabla-tr{
    
    color: wheat;
}

.tabla-th {
    
    top: 0px;
      
}

.tbody{
   top: 10px;
}
.tabla-td{
    
    
    display: grid;
    background: var(--back-color-header);
    border: 1px solid;
    border-color:  var(--color-over-button);
    opacity: 0.8;
    transition: all 800ms;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px burlywood;
}

.tabla-td .p {
    color:  var(--color-over-button);
    font-family: var(--font-style-menu);
    font:bold;
    line-height: 1px;
    margin-left: 10px;
 }
 
 

/******** Contenedor de Registros con li *********/

.etiquetas-contenedor {
   
   position: absolute;
   display: grid;
    
}

.fijar-etiquetas{
   position: sticky;
    top: 171px;
    
}


.etiquetas-gral{ 
    
    max-width: 1200px;
    margin: auto;
    padding-bottom: 15px;
    
    background: var(--back-color-header);
    border: 1px solid;
    border-color:  var(--color-over-button);
    opacity: 0.8;
    transition: all 800ms;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px burlywood;
    display: block;
    
   
}

.etiquetas-gral .p {
    color:  var(--color-over-button);
    font-family: var(--font-style-contenido);
    font:bold;
    line-height: 1px;
    margin-left: 10px;
    font-size: 20px;
    
}

.etiquetas-gral .label {
    color:  var(--color-over-button);
    font-family: var(--font-style-etiqueta);
    font:bold;
    line-height: 1px;
    margin-left: 10px;
    font-size: 20px;
    margin-left: 100px;
    
}

.etiquetas-gral .textarea {
    margin-left: 10px;
    margin-bottom: 10px;
    background: transparent;
    min-width: 1180px;
    max-width: 1180px;
    overflow: hidden;
    height: 160px;
    color:  var(--color-over-button);
    font-family: var(--font-style-textarea);
    font-size: 15px;
    resize:none;
    
}


.doc-recibido{
    text-align: right;
    padding-bottom: 12px;
    padding-right: 20px;
    
}

.doc-recibido .p {
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.etiqueta { /* Para espcios entre etiquetas de datos*/
    display:grid;
    
    margin-top: 10px;
    
}

/******** Para imagenes  *********/

.fotoPersonal {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 90px;
  float: left;
  margin: 10px;
  padding: 10px;
  height: 120px;
  
}

.fotoReduce {
/*  border: 1px solid #ddd;*/
  border-radius: 10px;
  width: 20px;
  float: right;
  margin: 5px;
  padding: 2px;
  height: 20px;
  
}

.fotoPersonal:hover {
  box-shadow: 0 0 4px 3px burlywood;
}

.fotoReduce:hover {
  box-shadow: 0 0 4px 3px burlywood;
}


/*************** Para modals *****/

.containerModal {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.popup {
    width: 100%;
    max-width: 900px;
    height: 500px;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
 }

.containerModal:target{ /* Cuando tenga el focus */
    visibility: visible;
    opacity: 0.9;
    background:  var(--color-over-button);
    transition: all 700ms;
    border-radius: 10px; 
    box-shadow: 0px 0px 5px 1px #205375;
    
    
}

.textModal {
    width: 80%;
    padding-top: 50px;
    margin: 10px;
    overflow-y: auto;
    justify-content: space-between;
    
   
}

.btncloseModal{
    width: 15px;
    height: 20px;
    position: absolute;
    right: -5px;
    top: 60px;
    padding: 10px;
        padding-left: 10px;
    background: #205375;
    color: white;
    border-radius: 30%;
/*    line-height: 10px;*/
    text-decoration: none;
    
}
.btn-closeModal:hover{
    box-shadow: 0 0 4px 3px black;
}

.encPersonales{
    color: white;
    font-family: var(--font-style-modalPersonal);
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    
}

.encDato{
    color: black;
    font-family: var(--font-style-modalPersonal);
    font-size: 20px;
    font-weight: bold;
}

.pModal{
    color: #001D6E;
}
.labelModal {
    float: left;
    width: 100px;
    padding-left: 24px;
    margin-bottom: 2px;
}


.hrModal {
  height: 2px;
/*  margin-left: 0%;
  margin-right: 50%;*/
 margin-top: 2px;
  background-color: var(--back-color-header);

}





/* Para grid citas modal */
#grid-citas {
  display: grid;
  /* height: 100px; Para en caso de que sea fijo*/ 
  grid-template-columns: 300px;
  grid-template-rows: 50px 50px;
}

/* Para grid encabezados */
#grid-encabezados {
  display: grid;
  /* height: 100px; Para en caso de que sea fijo*/ 
  grid-template-columns: 1000px 500px;
  grid-template-rows: 40px;
}

/* Para grid normal */
#grid {
  display: grid;
  /* height: 100px; Para en caso de que sea fijo*/ 
  grid-template-columns: 1000px 500px;
  grid-template-rows: 30px;
}

/* Para grid grandes */
.grid-large {
  display: grid;
  height: 70%;
  width: 50%;
  display: grid;
  grid-template-columns: 500px 1000px; /* 2 columnas de 500px y */
  grid-template-rows: 400px;          /* una fila de 400px*/
}

/* Para grid historial */
#grid-historial {
  display: grid;
  height: 70%;
  width: 50%;
  display: grid;
  grid-template-columns: 300px 650px 549px; /* 3 columnas  y */
  grid-template-rows: 380px;        /* 1 fila*/
}
.table-fixed thead,
.table-fixed tfoot{
  width: 100%;
}

.table-fixed tbody {
  /*height: 400px; Para todos del mismo tamaño*/
  overflow-y: auto;
  width: 100%;
}


.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-striped,
.table-fixed tbody td,
.table-fixed thead > tr> th,
.table-fixed tfoot > tr> td{
  float: left;
  border-bottom-width: 0;
  
}


